@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.hero {
  padding-top: clamp(114px, rem(150), 224px);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  ul {
    position: relative;
    overflow: hidden;
    margin-bottom: rem(83);
    border-radius: var(--radius-main);
    padding: clamp(20px, rem(37), 60px) clamp(30px, rem(45), 70px) clamp(20px, rem(41), 65px);
    width: 100%;
    max-width: 630px;
    box-shadow: var(--shadow-hero);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      opacity: 0.8;
    }

    li {
      @include font-size(30, 36);

      position: relative;

      &:not(:last-child) {
        margin-bottom: clamp(15px, rem(20), 30px);
      }
    }
  }

  a {
    @include flex-all-center;
    @include font-size(30, 36);

    border-radius: calc(var(--radius-main) - 5px);
    padding: 17px 10px;
    width: 100%;
    max-width: 285px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-green-400);
  }
}