@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.hero {
  display: block;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    @include flex;

    flex-direction: column;
    justify-content: center;
    padding-top: rem(60);
    height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
  }

  ul {
    position: relative;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: var(--radius-main);
    padding: clamp(20px, rem(37), 60px) clamp(30px, rem(45), 70px) clamp(20px, rem(41), 65px);
    width: 100%;
    max-width: 630px;
    box-shadow: var(--shadow-hero);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      opacity: 0.8;
    }

    li {
      @include font-size(30, 36);

      position: relative;

      &:not(:last-child) {
        margin-bottom: clamp(15px, rem(20), 30px);

        @include media(mobile-m) {
          margin-bottom: 15px;
        }
      }

      @include media(desktop-mac) {
        @include font-size(27, 31);
      }

      @include media(tablet) {
        @include font-size(25, 31);
      }

      @include media(mobile-s) {
        @include font-size(22, 28);
      }
    }

    @include media(tablet) {
      margin-bottom: rem(35);
    }

    @include media(mobile-m) {
      padding: rem(30);
    }

    @include media(mobile-s) {
      padding: 30px 10px;
    }
  }

  a {
    @include flex-all-center;
    @include font-size(30, 36);

    margin-bottom: auto;
    border-radius: calc(var(--radius-main) - 5px);
    padding: 17px 10px;
    width: 100%;
    max-width: 285px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-green-400);

    @include media(desktop-mac) {
      @include font-size(25, 30);
    }

    @include media(tablet) {
      @include font-size(22, 30);

      padding: 15px 20px;
      max-width: fit-content;
    }

    @include media(mobile-m) {
      @include font-size(20, 27);

      padding: 10px 15px;
    }
  }

  @include media(tablet-wide) {
    padding: 0;
  }
}