@use "../../utils/mixins"as*;
@use "../../utils/functions/"as*;

.research {
  border-bottom: 19px solid var(--color-yellow-300);
  padding-bottom: clamp(40px, rem(58), 87px);

  h2 {
    margin-bottom: clamp(20px, rem(75), 108px);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: clamp(50px, rem(80), 121px);
    gap: clamp(20px, rem(45), 40px);

    @include media(desktop-mac) {
      margin-bottom: rem(40);
      gap: 17px;
    }

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto rem(40);
      max-width: 768px;
      gap: 40px 20px;
    }

    @include media(mobile-s) {
      grid-template-columns: 1fr;
      max-width: 375px;
    }
  }

  >a {
    margin-bottom: clamp(40px, rem(70), 88px);
  }

  @include media(tablet) {
    padding-bottom: rem(40);
  }
}