@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.allergy {
  ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 15px;
    padding: rem(48) 0;
    gap: rem(75) rem(65);
  }

  li {
    @include flex-all-center;

    flex-direction: column;

    h2 {
      @include font-size(20, 23);

      font-family: var(--font-family-roboto);
    }
  }

  img {
    margin-bottom: 23px;
    border-radius: 50%;
  }

  div {
    padding: rem(31) 0 rem(28);
  }

  p {
    @include font-size(36, 43);

    letter-spacing: -0.002em;
  }
}