@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.header {
  @include hideHeader;
  @include flex-all-center;

  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: center;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.9;
  }

  &__wrapper {
    @include flex-all-center;

    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
  }

  &__inner {
    @include flex-all-sb;

    padding: clamp(15px, rem(30), 26px) 0 clamp(15px, rem(30), 25px);
    width: 100%;
    transition: padding 0.1s;

    @include media(tablet-wide) {
      padding: 15px 0;
    }
  }

  &__sublogo {
    margin-right: 34px;

    @include media(tablet) {
      margin-right: 20px;
    }
  }

  .container {
    margin-right: 17px;
  }

  &.hide {
    transform: translateY(-100%);
  }

  &.scroll {
    border-bottom: 1px solid var(--color-green-300);

    .header {
      &__inner {
        @include media(tablet, min) {
          padding: 15px 0;
        }
      }

      &__sublogo {
        margin-right: rem(54);
        max-width: 150px;
      }
    }

    .logo {
      max-width: 200px;
    }
  }
}