@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.symptoms {
  margin-bottom: 50px;

  h2 {
    margin-bottom: clamp(20px, rem(40), 60px);

    @include media(mobile-l) {
      margin-bottom: 30px;
    }
  }
}

.symptoms-banner {
  margin-bottom: clamp(20px, rem(45), 65px);
  padding: 34px 0 rem(37);
  text-align: center;
  background-position: 64px 20px;
  background-size: 96% 94%;
  background-repeat: no-repeat;
  background-color: var(--color-yellow-300);

  p {
    @include font-size(36, 43);

    margin-bottom: rem(70);

    @include media(tablet) {
      margin-bottom: rem(30);
    }
  }

  button {
    transform: rotate(-3deg) translateX(-111%);

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      height: 114px;
      max-width: 200px;
      background-image: url("../icons/line.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(100%, -58%) rotate(24deg);

      @include media(tablet) {
        display: none;
      }
    }

    @include media(tablet) {
      transform: rotate(0) translateX(0);
    }
  }

  @include media(desktop-hd, min) {
    background-position: 20px center;
    background-size: 100%;
  }

  @include media(desktop) {
    background-position: 64px 20px;
    background-size: 96% 100%;
  }

  @include media(desktop-mac) {
    background-position: 45% center;
    background-size: auto;
  }

  @include media(tablet) {
    background-position: right bottom;
    background-size: auto;
  }

  @include media(mobile-l) {
    margin-bottom: 0;
  }
}

.symptoms-single {
  margin-bottom: rem(44);
}