@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.symptoms {
  margin-bottom: 50px;

  h2 {
    margin-bottom: clamp(20px, rem(40), 58px);
  }
}

.symptoms-banner {
  margin-bottom: clamp(20px, rem(45), 65px);
  padding: 34px 0 57px;
  text-align: center;
  background-position: 88% bottom;
  background-size: 91% 94%;
  background-repeat: no-repeat;
  background-color: var(--color-yellow-300);

  p {
    @include font-size(36, 43);

    margin-bottom: 110px;
  }

  a {
    @include flex-all-center;
    @include font-size(30, 36);

    position: relative;
    margin: 0 auto;
    border-radius: calc(var(--radius-main) - 5px);
    padding: 10px;
    width: 100%;
    max-width: 230px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-green-400);
    transform: rotate(-3deg) translateX(-94%);

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      height: 94px;
      max-width: 205px;
      background-image: url("../icons/line.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(100%, -65%);
    }
  }
}

.symptoms-single {
  margin-bottom: rem(44);
}