.tooltip {
  display: none;
  border: 1px solid rgba(40, 56, 100, 0.8);
  padding: 40px 24px;
  width: 100%;
  max-width: 450px;
  font-size: 14px;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
  }
}

.popper-close {
  position: absolute;

  width: 30px;
  height: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../icons/close.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.jBox-content {
  padding: 0 !important;
}

.jBox-closeButton-box {
  z-index: 9 !important;
}

.jBox-closeButton-box .jBox-closeButton {
  right: 13px;
  top: 10px;
}

.jBox-closeButton-box:before {
  display: none !important;
}

.jBox-closeButton-box .jBox-closeButton svg {
  width: 16px !important;
  height: 16px !important;
}

.jBox-closeButton path {
  fill: #000;
}