.tooltip {
  display: none;
  border: 1px solid rgba(40, 56, 100, 0.8);
  padding: 40px 24px;
  width: 100%;
  max-width: 450px;
  font-size: 14px;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
  }
}

.jBox-content {
  padding: 0 !important;
}

.jBox-closeButton-box {
  z-index: 9 !important;
}

.jBox-closeButton-box .jBox-closeButton {
  width: 16px !important;
  height: 16px !important;
  right: 10px !important;
  top: 10px !important;
  background-color: transparent;
}

.jBox-closeButton-box:before {
  display: none !important;
}

.jBox-closeButton-box .jBox-closeButton svg {
  width: 16px !important;
  height: 16px !important;
}

.jBox-closeButton path {
  fill: #000 !important;
}

.jBox-pointer-left::after,
.jBox-pointer-right::after {
  // display: none !important;
  border: 1px solid #283864cc;
}