@use "../../utils/mixins"as*;
@use "../../utils/functions/"as*;

.test {
  &__result {
    padding: 95px 0;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    .btn {
      @include flex-all-center;
      @include font-size(30, 36);

      position: relative;
      bottom: -39px;
      margin: 0 auto;
      border-radius: calc(var(--radius-main) - 5px);
      padding: 10px;
      width: 100%;
      max-width: 230px;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
      background-color: var(--color-green-400);
      transform: rotate(-7deg) translateX(-75%);

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        height: 94px;
        max-width: 205px;
        background-image: url("../icons/line.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(89%, -80%) rotate(6deg);

        @include media(desktop-mac) {
          display: none;
        }
      }

      @include media(desktop-mac) {
        bottom: 0;
        transform: rotate(0) translateX(0) !important;
      }

      @include media(tablet) {
        @include font-size(25, 30);
      }

      @include media(mobile-l) {
        @include font-size(22, 26);

        padding: 7px;
      }
    }

    @media (max-width:1340px) {
      background-position: 12px bottom;
    }

    @include media(desktop-mac) {
      background-position: center;
    }

    @include media(tablet) {
      padding: 70px 0;
    }

    @include media(mobile-l) {
      padding: 50px 0;
    }
  }

  &__inner {
    &:not(:last-child) {
      margin-bottom: rem(31);
    }
  }

  >ul {
    margin-bottom: 40px;
    border-radius: var(--radius-main);
    padding: rem(33) rem(42) rem(28);
    background-color: var(--color-yellow-300);

    @include media(tablet) {
      padding: 25px;
    }

    @include media(mobile-s) {
      padding: 30px 15px;
    }
  }

  h3 {
    @include font-size(30, 36);

    margin-bottom: 13px;
    font-family: var(--font-family-inter);
    letter-spacing: 0.01em;
    color: var(--color-main);

    +div {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 230px));

      @include media(mobile-m) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }

    @include media(tablet-wide) {
      @include font-size(26, 28);
    }

    @include media(tablet) {
      @include font-size(23, 28);
    }
  }

  li {
    &:not(:last-child) {
      margin-bottom: rem(29);

      @include media(mobile-m) {
        margin-bottom: 30px;
      }
    }
  }

  &--result ul {
    margin-bottom: 29px;
  }

  &--check {
    h3 {
      @include font-size(36, 44);

      margin-bottom: rem(38);
      font-family: var(--font-family-inter);
      font-weight: 400;
      color: var(--color-main);

      @include media(tablet-wide) {
        @include font-size(33, 38);
      }

      @include media(mobile-m) {
        @include font-size(25, 30);
      }
    }

    label {
      @include font-size(30, 36);

      font-family: var(--font-family-inter);

      @include media(tablet-wide) {
        @include font-size(26, 33);
      }

      @include media(mobile-l) {
        @include font-size(18, 23);

        padding-left: 40px;
      }
    }

    >div:not(.test__result) {
      border-radius: var(--radius-main);
      padding: rem(33) rem(42) rem(38);
      background-color: var(--color-yellow-300);

      @include media(tablet-wide) {
        padding: 30px;
      }

      @include media(mobile-m) {
        padding: 30px 15px;
      }
    }

    ul li {
      &:not(:last-child) {
        margin-bottom: rem(32);
      }
    }
  }
}

.test-result {
  @include font-size(30, 36);

  margin-bottom: rem(31);
  font-family: var(--font-family-inter);
  font-weight: 300;

  h2 {
    margin-bottom: 7px;
    text-align: center;
  }

  p {
    border-radius: var(--radius-main);
    padding: rem(33) rem(43);
    background-color: var(--color-green-200);

    @include media(tablet) {
      padding: 20px;
    }
  }

  &--reverse {
    p {
      color: var(--color-red-400);
      background-color: var(--color-yellow-300);
    }
  }

  @include media(tablet-wide) {
    @include font-size(23, 28);
  }
}

.test-alert {
  @include font-size(40, 48);
  @include flex-all-center;

  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  flex-direction: column;
  border-radius: var(--radius-main);
  padding: 30px;
  width: 90%;
  height: 70vh;
  max-width: 1004px;
  max-height: 504px;
  box-shadow: 50px 50px 64px rgba(0, 0, 0, 0.2);
  color: var(--color-red-400);
  background-color: var(--color-green-200);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -40%);
  transition-property: opacity, visibility;
  transition-duration: 0.1s;

  &--open {
    opacity: 1;
    visibility: visible
  }

  @include media(tablet) {
    @include font-size(32, 40);

    text-align: center;
  }

  @include media(tablet) {
    @include font-size(24, 35);
  }
}