@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.page {
  height: 100%;
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-style: normal;
  font-size: clamp(18px, 1.3vw, 25px);
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--color-main);
  background-color: var(--color-white);
  scroll-padding-top: var(--header-height, 15px);

  &__body {
    min-width: 320px;
    min-height: 100%;

    &::before {
      content: "";
      position: fixed;
      left: -200%;
      top: var(--header-height);
      z-index: 5;
      width: 100vw;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      background-color: var(--color-white);
      opacity: 0.7;
      transition: left 0.2s;
    }
  }

  &--menu {
    overflow: hidden;

    .page__body {
      &::before {
        left: 0;
      }
    }

    .nav {
      right: 0;
    }
  }

  @include media(desktop-hd, min) {
    font-size: 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wide {
    max-width: var(--container-wide);
  }
}