@use "../../utils/mixins"as*;
@use "../../utils/functions/"as*;

.reviews {
  padding: clamp(20px, rem(30), 33px) 0 clamp(20px, rem(30), 40px);

  h2 {
    margin-bottom: clamp(20px, rem(30), 44px);
  }

  ul:not(.slick-dots) {
    @include font-size(16, 19);

    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    max-width: 824px;
    text-align: center;

    @include media(mobile-l) {
      padding: 0 50px;
    }

    @include media(mobile-m) {
      padding: 0;
      max-width: none;
    }
  }

  li {
    blockquote {
      margin-bottom: clamp(20px, rem(30), 40px);
      word-wrap: break-word;
    }

    cite {
      word-wrap: break-word;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 14%;
  border-top: 25px solid transparent;
  border-right: 40px solid var(--color-yellow-400);
  border-bottom: 24px solid transparent;
  border-left: 0 solid transparent;
  width: 0;
  height: 0;
  font-size: 0;

  &.slick-disabled {
    border-right-color: var(--color-yellow-300);
  }

  @include media(mobile-m) {
    display: none !important;
  }
}

.slick-prev {
  left: -50px;

  @include media(tablet) {
    left: 0;
  }
}

.slick-next {
  right: -50px;
  transform: scale(-1, -1);

  @include media(tablet) {
    right: 0;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 0;

  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  button {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: var(--color-yellow-300);
  }

  .slick-active {
    button {
      background-color: var(--color-yellow-400);
    }
  }
}