@use "../../utils/mixins"as*;
@use "../../utils/functions/"as*;

.articles {
  h2 {
    margin-bottom: rem(76);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin-bottom: rem(44);
    gap: rem(50) rem(26);

    @include media(mobile-m) {
      margin: 0 auto;
      max-width: 375px;
    }
  }

  >a {
    margin-bottom: rem(36);
  }
}