@use "../../utils/mixins"as*;
@use "../../utils/functions/"as*;

.single {
  padding-top: rem(30);

  >* {
    margin-bottom: rem(35);
    text-align: left;

    @include media(mobile-l) {
      margin-bottom: 25px;
    }
  }

  &__list {
    margin-bottom: rem(55) !important;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: rem(52) 0;
      gap: rem(50);

      li {
        box-shadow: var(--shadow-card-bold);
        background-color: var(--color-green-400);

        &:last-child {
          @include media(tablet) {
            grid-column: 1 / span 2;
          }

          @include media(mobile-m) {
            grid-column: auto;
          }
        }
      }

      @include media(desktop-mac) {
        gap: rem(30);
      }

      @include media(tablet) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        max-width: 660px;
      }

      @include media(mobile-m) {
        grid-template-columns: 1fr;
        max-width: 375px;
      }
    }

    h3 {
      @include font-size(30, 36);

      padding: 10px 0;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      color: var(--color-white);

      @include media(desktop) {
        @include font-size(26, 30);
      }

      @include media(desktop-mac) {
        @include font-size(23, 27);
      }

      @include media(tablet-wide) {
        @include font-size(20, 25);
      }
    }

    img {
      width: 100%;

      @include media(tablet) {
        object-fit: cover;
        aspect-ratio: 16/6;
      }
    }
  }

  &__items {
    margin-bottom: rem(62);

    li {
      @include flex-all-sb;

      gap: 20px;

      &:not(:last-child) {
        margin-bottom: rem(49);

        @include media(mobile-l) {
          margin-bottom: 30px;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        @include media(mobile-l) {
          flex-direction: column;
        }
      }

      @include media(mobile-l) {
        flex-direction: column;
      }
    }

    p {
      @include flex-all-center;

      border-radius: var(--radius-main);
      padding: 30px 40px;
      width: 100%;
      min-height: 320px;
      max-width: 1040px;
      background-color: var(--color-green-300);

      @include media(tablet) {
        min-height: auto;
      }

      @include media(mobile-m) {
        padding: 20px;
      }
    }

    img {
      border-radius: 50%;

      @include media(mobile-l) {
        max-width: 220px;
      }
    }

    @include media(mobile-m) {
      margin-bottom: 40px;
    }
  }

  &__content {
    margin-bottom: rem(32);
    padding: rem(45) 0;

    h2 {
      margin-bottom: rem(28);
    }

    >* {
      text-align: left;
    }

    &.green {
      margin-bottom: 0;
      padding: rem(28) 0 rem(37);
    }

    @include media(mobile-l) {
      padding: 25px 0;
    }
  }

  &__descr {
    @include flex-sb;

    margin-top: rem(55);
    padding: rem(34) 0 rem(37);
    gap: 20px;

    @include media(tablet) {
      align-items: center;
    }

    @include media(mobile-m) {
      flex-direction: column;
    }
  }

  &__descr-box {
    padding-top: 30px;
    width: 100%;
    max-width: 900px;

    .list {
      padding-top: 5px;

      li {
        line-height: 1.4;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__descr-image {
    height: max-content;
    color: var(--color-main);
    background-color: var(--color-white);

    h3 {
      @include font-size(30, 39);

      padding: 9px;
      font-weight: 500;
      text-align: center;
    }
  }

  &__flowering {
    margin-bottom: rem(60);

    h2 {
      margin-bottom: rem(33);
      text-align: left;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(26);

      @include media(tablet) {
        gap: 20px;
      }

      @include media(mobile-l) {
        grid-template-columns: 1fr;
        margin: 0 auto;
        max-width: 375px;
      }
    }

    li {
      border: 3px solid var(--color-green-400);
      border-radius: var(--radius-main);
      padding: rem(34) rem(27) 21px;

      @include media(tablet) {
        padding: rem(30) 20px;
      }
    }

    h3 {
      @include font-size(50, 59);

      margin-bottom: rem(28);
      font-family: var(--font-family-raleway);
      font-weight: 500;
      text-align: center;
      color: var(--color-yellow-400);

      @include media(desktop-mac) {
        @include font-size(40, 50);
      }

      @include media(tablet-wide) {
        @include font-size(31, 40);

        margin-bottom: 20px;
      }

      @include media(tablet) {
        @include font-size(26, 30);

        margin-bottom: 15px;
      }
    }

    img {
      margin: 0 auto rem(35);
      border-radius: 50%;

      @include media(mobile-l) {
        max-width: 220px;
      }
    }

    @include media(mobile-m) {
      margin-bottom: 40px;
    }
  }

  h2 {
    @include media(mobile-l) {
      @include font-size(28, 30);
    }
  }

  p {
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include media(mobile-m) {
    padding-top: 0;
  }
}